pipeline/pl_blob_adls2_Sun.json
{
	"name": "pl_blob_adls2_Sun",
	"properties": {
		"activities": [
			{
				"name": "Val_file_exsts",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_sub",
						"type": "DatasetReference"
					},
					"timeout": "7.00:00:00",
					"sleep": 10,
					"minimumSize": 1024
				}
			},
			{
				"name": "gm_blob_adls_Sun",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Val_file_exsts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_sub",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "pl_if",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "gm_blob_adls_Sun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('gm_blob_adls_Sun').output.columnCount,13)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "cp_blob_adls_sun",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "SourceFilename",
											"value": "$$FILEPATH"
										},
										{
											"name": "TimeStamp",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Blob_sun2",
									"type": "DatasetReference",
									"parameters": {
										"SourceFilename": {
											"value": "@activity('gm_blob_adls_Sun').output.itemName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_sun",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "pl_del",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cp_blob_adls_sun",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_Blob_sun2",
									"type": "DatasetReference",
									"parameters": {
										"SourceFilename": {
											"value": "@activity('gm_blob_adls_Sun').output.itemName",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_venki_pl_blob_1",
										"type": "LinkedServiceReference"
									},
									"path": "logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-07-16T06:38:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}