pipeline/PL_Venki_blob_2_adls.json
{
	"name": "PL_Venki_blob_2_adls",
	"properties": {
		"activities": [
			{
				"name": "pl_venki_metada_1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "pl_venki_val_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_venki_blob_1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "pl_venki_if_1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "pl_venki_metada_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('pl_venki_metada_1').output.columnCount,17)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pl_venki_dummy",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "//https:dummy",
								"method": "POST",
								"body": "Dumbo"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "cd_venki_blob_to_adls_1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".tsv"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_venki_blob_1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_venki_adls_1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "pl_venki_deleteSrc_1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cd_venki_blob_to_adls_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_venki_blob_1",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_venki_pl_blob_1",
										"type": "LinkedServiceReference"
									},
									"path": "logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "pl_venki_val_1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_venki_blob_1",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:30",
					"sleep": 10
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-07-06T03:19:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}